<h3 class="white-text">Qui suis-je ? </h3>
<p class="white-text">
  Je m'appelle Thomas et je suis actuellement étudiant en alternance en 4ème année à l’EPSI.
  J'effectue mon alternance chez THALES Services depuis 2 ans en tant que <strong>développeur web et mobile</strong>.
  Après avoir obtenu mon BAC S au Lycée de la Vallée de Chevreuse, j'ai poursuivi mes études à l'IUT d'Orsay afin d'obtenir un <strong>DUT Informatique</strong>.
  J'ai ensuite continué à l'EPSI pour décroché un dipôme d'<strong>expert informatique</strong> niveau BAC +5.
  Je suis passionné par les nouvelles technologies et j'aime développer des applications personnelles web ou mobiles.
</p>
