<div class="navbar-fixed">
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo my-margin-left">Cloudev.fr</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://www.linkedin.com/in/thomas-tournoux-35a87115b/" target="_blank">Linked IN</a></li>
        <li><a href="https://github.com/ThomasDevGif" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </nav>
</div>
