<div class="parallax-container">
  <div class="parallax"><img src="cloudev.fr/images/web-development-3.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header my-row-between">Bienvenue sur cloudev.fr <a class="black-text my-pointer"><i class="material-icons large">expand_more</i></a></h2>
    <!-- <h2 class="header my-row-between">Bienvenue sur cloudev.fr <a href="#profile" class="black-text"><i class="material-icons large">expand_more</i></a></h2> -->
    <p class="grey-text text-darken-3 lighten-3">Développé par <span class="teal-text">Thomas Tournoux<span></p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="cloudev.fr/images/web-development-2.jpg"></div>
</div>

<script src="cloudev.fr/components/parallax-home/parallax-home.js"></script>
