<div class="row my-margin-top">
  <div class="col m4 s12">
    <div class="card">
      <div class="card-image">
        <img src="cloudev.fr/images/croatie.png">
      </div>
      <div class="card-content">
        <h4 style="margin-top: 0px;">Thomas Tournoux</h4>
        <div class="my-row my-margin-top">
          <i class="material-icons">public</i>
          <span class="my-margin-left">France - Ile de France</span>
        </div>
        <div class="my-row my-margin-top">
          <i class="material-icons">email</i>
          <span class="my-margin-left">thomas.tnx@gmail.com</span>
        </div>
        <div class="my-row my-margin-top">
          <i class="material-icons">phone</i>
          <span class="my-margin-left">06 04 50 40 47</span>
        </div>
      </div>
      <div class="card-action">
        <a href="https://www.linkedin.com/in/thomas-tournoux-35a87115b/" target="_blank">Linked IN</a>
        <a href="https://github.com/ThomasDevGif" target="_blank">GitHub</a>
      </div>
    </div>
  </div>

  <div class="col m8 s12">
    <div id="SkillsComponent"></div>
  </div>
</div>

<!-- <h2 class="white-text">A propos</h2> -->
<div id="ExperiencesComponent"></div>
<div id="DiplomasComponent"></div>

<script src="cloudev.fr/components/profile/profile.js"></script>
