<div class="row my-margin-top">
  <div class="col m5 s12">
    <div class="card">
      <div class="card-image">
        <img src="cloudev.fr/images/profile.png">
      </div>
      <div class="card-content">
        <h4 style="margin-top: 0px;">Thomas Tournoux</h4>
        <div class="my-row my-margin-top">
          <i class="material-icons">public</i>
          <span class="my-margin-left">France - Ile de France</span>
        </div>
        <div class="my-row my-margin-top">
          <i class="material-icons">email</i>
          <span class="my-margin-left">thomas.tnx@gmail.com</span>
        </div>
        <div class="my-row my-margin-top">
          <i class="material-icons">phone</i>
          <span class="my-margin-left">06 04 50 40 47</span>
        </div>
      </div>
      <div class="card-action">
        <a href="https://www.linkedin.com/in/thomas-tournoux-35a87115b/" target="_blank">Linked IN</a>
        <a href="https://github.com/ThomasDevGif" target="_blank">GitHub</a>
      </div>
    </div>
  </div>

  <div class="col m7 s12">


    <h2 class="white-text">Mes compétences</h2>

    <span class="white-text">HTML 5, CSS3, Javascript</span>
    <div class="progress">
      <div class="determinate" style="width: 90%"></div>
    </div>

    <span class="white-text">Node JS</span>
    <div class="progress">
      <div class="determinate" style="width: 80%"></div>
    </div>

    <span class="white-text">Angular JS</span>
    <div class="progress">
      <div class="determinate" style="width: 60%"></div>
    </div>

    <span class="white-text">Angular 5</span>
    <div class="progress">
      <div class="determinate" style="width: 70%"></div>
    </div>

    <span class="white-text">Vue JS</span>
    <div class="progress">
      <div class="determinate" style="width: 40%"></div>
    </div>

    <span class="white-text">Java Android</span>
    <div class="progress">
      <div class="determinate" style="width: 90%"></div>
    </div>

    <span class="white-text">C#</span>
    <div class="progress">
      <div class="determinate" style="width: 60%"></div>
    </div>

    <span class="white-text">PHP</span>
    <div class="progress">
      <div class="determinate" style="width: 20%"></div>
    </div>

    <span class="white-text">Git</span>
    <div class="progress">
      <div class="determinate" style="width: 80%"></div>
    </div>
  </div>
</div>

<!-- <h2 class="white-text">A propos</h2>
<h2 class="white-text">Expériences professionnelles</h2>
<h2 class="white-text">Diplômes et formations</h2> -->

<script src="cloudev.fr/components/profile/profile.js"></script>
