<h3 class="white-text">Expériences professionnelles</h3>

<div class="row">
  <div class="col l6 m12 s12">
    <div class="card horizontal">
      <div class="card-image hide-sm">
        <img src="cloudev.fr/images/thales.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p class="my-row"><i class="material-icons">code</i><strong class="my-margin-left">Développeur mobile et web</strong></p><br/>
          <p class="my-row"><i class="material-icons grey-text">school</i><span class="my-margin-left">Stage</span></p>
          <p class="my-row"><i class="material-icons grey-text">date_range</i><span class="my-margin-left">Avril 2016 - Septembre 2016</span></p>
          <p class="my-row"><i class="material-icons grey-text">place</i><span class="my-margin-left">THALES Services</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col l6 m12 s12">
    <div class="card horizontal">
      <div class="card-image hide-sm">
        <img src="cloudev.fr/images/thales.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p class="my-row"><i class="material-icons">code</i><strong class="my-margin-left">Développeur mobile et web</strong></p><br/>
          <p class="my-row"><i class="material-icons grey-text">school</i><span class="my-margin-left">Alternance</span></p>
          <p class="my-row"><i class="material-icons grey-text">date_range</i><span class="my-margin-left">Octobre 2016 - Juillet 2019</span></p>
          <p class="my-row"><i class="material-icons grey-text">place</i><span class="my-margin-left">THALES Services</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
