<h3 class="white-text">Mes compétences</h3>

<span class="white-text">HTML 5, CSS3, Javascript, Typescript</span>
<div class="progress white">
  <div class="determinate" style="width: 90%"></div>
</div>

<span class="white-text">Node JS</span>
<div class="progress white">
  <div class="determinate" style="width: 80%"></div>
</div>

<span class="white-text">Angular JS</span>
<div class="progress white">
  <div class="determinate" style="width: 60%"></div>
</div>

<span class="white-text">Angular 5</span>
<div class="progress white">
  <div class="determinate" style="width: 70%"></div>
</div>

<span class="white-text">Vue JS</span>
<div class="progress white">
  <div class="determinate" style="width: 40%"></div>
</div>

<span class="white-text">Java (Android)</span>
<div class="progress white">
  <div class="determinate" style="width: 90%"></div>
</div>

<span class="white-text">C# (Xamarin)</span>
<div class="progress white">
  <div class="determinate" style="width: 60%"></div>
</div>

<span class="white-text">C, C++</span>
<div class="progress white">
  <div class="determinate" style="width: 30%"></div>
</div>

<span class="white-text">PHP</span>
<div class="progress white">
  <div class="determinate" style="width: 20%"></div>
</div>

<span class="white-text">Git</span>
<div class="progress white">
  <div class="determinate" style="width: 80%"></div>
</div>
