<h2 class="white-text">Mes sites web</h2>

<!-- Calcutta dreams -->
<div class="card">
  <div class="card-content">
    <span class="card-title">Calcutta Dreams</span>
    <p>
      Calcutta Dreams est un site de présentation pour le projet humanitaire de douze étudiants en médecine à Calcutta en Inde.
    </p>
    <div class="my-row-sm-col my-margin-top">
      <span class="new badge">HTML 5</span>
      <span class="new badge">CSS 3</span>
      <span class="new badge">AngularJS</span>
      <span class="new badge">AngularJS Material</span>
    </div>
  </div>
  <div class="card-action">
    <a href="http://cloudev.fr/calcutta/" target="_blank">Visiter le site</a>
  </div>
</div>

<!-- Trucsafaire -->
<div class="card">
  <div class="card-content">
    <span class="card-title">Trucsafaire</span>
    <p>
      Trucsafaire permet de créer des listes et de les partagers avec les autres utilisataires.
      Il est également possible d'afficher des recettes de cuisine et d'en ajouter.
      L'intérêt est de créer sa liste de course et de sélectionner les recettes souhaitées pour ajouter directement les ingrédients nécessaires à la liste.
    </p>
    <div class="my-row-sm-col my-margin-top">
      <span class="new badge">HTML 5</span>
      <span class="new badge">CSS 3</span>
      <span class="new badge">Typescript</span>
      <span class="new badge">Angular 5</span>
      <span class="new badge">Bootstrap</span>
      <span class="new badge">Angular Bootstrap</span>
      <span class="new badge">PHP</span>
      <span class="new badge">MySQL</span>
    </div>
  </div>
  <div class="card-action">
    <a href="http://cloudev.fr/trucsafaire/" target="_blank">Visiter le site</a>
  </div>
</div>

<!-- Rampale -->
<div class="card">
  <div class="card-content">
    <span class="card-title">Rampale</span>
    <p>
      Rampale est un site privé d'inscription d'une centaine de personnes pour le planning d'occupation d'une maison de famille.
    </p>
    <div class="my-row-sm-col my-margin-top">
      <span class="new badge">HTML 5</span>
      <span class="new badge">CSS 3</span>
      <span class="new badge">AngularJS</span>
      <span class="new badge">AngularJS Material</span>
      <span class="new badge">PHP</span>
      <span class="new badge">MySQL</span>
    </div>
  </div>
  <div class="card-action">
    <span class="grey-text">VISITER LE SITE</span>
  </div>
</div>

<!-- Daumesnil -->
<div class="card">
  <div class="card-content">
    <span class="card-title">Daumesnil</span>
    <p>
      Daumesnil est un site privé d'inscription pour le planning d'occupation d'un appartement familial.
    </p>
    <div class="my-row-sm-col my-margin-top">
      <span class="new badge">HTML 5</span>
      <span class="new badge">CSS 3</span>
      <span class="new badge">AngularJS</span>
      <span class="new badge">AngularJS Material</span>
      <span class="new badge">PHP</span>
      <span class="new badge">MySQL</span>
    </div>
  </div>
  <div class="card-action">
    <span class="grey-text">VISITER LE SITE</span>
  </div>
</div>


<script src="cloudev.fr/components/my-sites/my-sites.js"></script>
