<h3 class="white-text">Diplômes et formations</h3>

<div class="row">
  <div class="col l6 m12 s12">
    <div class="card horizontal">
      <div class="card-image my-card-horizontal valign-wrapper hide-on-small-only">
        <img src="cloudev.fr/images/lvc.png">
      </div>
      <div class="card-stacked my-card-horizontal">
        <div class="card-content">
          <p class="my-row"><i class="material-icons">school</i><strong class="my-margin-left">Baccalaureat S</strong></p><br/>
          <p class="my-row"><i class="material-icons grey-text">today</i><span class="my-margin-left">2014</span></p>
          <p class="my-row"><i class="material-icons grey-text">place</i><span class="my-margin-left">Lycée de la Vallée de Chevreuses</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col l6 m12 s12">
    <div class="card horizontal">
      <div class="card-image my-card-horizontal valign-wrapper hide-on-small-only">
        <img src="cloudev.fr/images/upsud-less.png">
      </div>
      <div class="card-stacked my-card-horizontal">
        <div class="card-content">
          <p class="my-row"><i class="material-icons">school</i><strong class="my-margin-left">DUT Informatique</strong></p><br/>
          <p class="my-row"><i class="material-icons grey-text">today</i><span class="my-margin-left">2016</span></p>
          <p class="my-row"><i class="material-icons grey-text">place</i><span class="my-margin-left">Université Paris Sud - IUT d'Orsay</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col l6 m12 s12">
    <div class="card horizontal">
      <div class="card-image my-card-horizontal valign-wrapper hide-on-small-only">
        <img src="cloudev.fr/images/epsi-less.png">
      </div>
      <div class="card-stacked my-card-horizontal">
        <div class="card-content">
          <p class="my-row"><i class="material-icons">school</i><strong class="my-margin-left">Bachelor Informatique</strong></p><br/>
          <p class="my-row"><i class="material-icons grey-text">today</i><span class="my-margin-left">2017</span></p>
          <p class="my-row"><i class="material-icons grey-text">place</i><span class="my-margin-left">Ecole Privée des Sciences Informatiques</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col l6 m12 s12">
    <div class="card horizontal">
      <div class="card-image my-card-horizontal valign-wrapper hide-on-small-only">
        <img src="cloudev.fr/images/epsi-less.png">
      </div>
      <div class="card-stacked my-card-horizontal">
        <div class="card-content">
          <p class="my-row"><i class="material-icons">school</i><strong class="my-margin-left">Expert informatique et système d'information</strong></p><br/>
          <p class="my-row"><i class="material-icons grey-text">today</i><span class="my-margin-left">à venir (en 2019)</span></p>
          <p class="my-row"><i class="material-icons grey-text">place</i><span class="my-margin-left">Ecole Privée des Sciences Informatiques</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
